<div class="header-container">

  <div class="logo-container" style="padding: 5px">
    <img
      src="assets/images/logo.png"
      style="height: 150px;" />
    <h1 style="display: inline;">Danger Zone</h1>
  </div>

  <div class="button-container">
    <button
      pButton
      [outlined]="true"
      severity="danger"
      label="Home"
      (click)="navigateHome()"></button>
      <button
        pButton
        [outlined]="true"
        severity="danger"
        label="Contact Us"
        (click)="navigateContact()"></button>
  </div>

</div>
